* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  overflow: auto;
  background-color: #1f2937;
  text-align: center;

  min-width: 320px;
}
nav {
  display: flex;
  justify-content: space-evenly;
}
 header > nav {
  font-size: 24px;
  color: #f9faf8;
  padding: 0;
  margin: 0;
}

.hero {
  display: flex;
  align-items: center;
  padding: 3rem;
}

.img1 {
  max-width: 14rem;
}

ul {
  display: flex;
  gap: 2em;
}
.links {
  margin-left: 14rem;
}
ul > li {
  display: flex;
}
a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
